*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	
}
body{
	background: #ECECEC;
	
}

#rlheader{
	box-shadow: 2px 1px 1px 2px gray;
}

#header{
	background-color: #ECECEC;
	height: 200px;
	box-shadow: 2px 2px 2px 2px gray;
}

#hbody{
	margin: 0 auto;
}

#addmsgbody{
	margin: 0 auto;
	height: 200px;
	width: 100%;
	padding: 10px;
}

#page{
	box-shadow: 2px 2px 2px 2px gray;
	border-radius: 10px;
	background: rgba(255,255,255,0.8);
}


#kuang{
	border-radius: 10px;
	background: rgba(0,0,0,0.4);
	padding: 20px
}

#reg{
	border-radius: 10px;
	background: rgba(255,255,255,0.7);
	padding: 20px
	
	
}

.totop{
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
	margin: 40px;
	width: 40px;
	height:40px;
	border-radius: 20px;
	background: deepskyblue;
	border: none;
	color: white;
	box-shadow: 1px 0px 0px 1px gray;
}

